node_modules
npm-debug.log

dist
build
coverage

.git
.github
.expo

.env
.env.*

crashlog-*.ips
*.log

saneea_mobile_react/node_modules
saneea_mobile_react/.expo
saneea_mobile_react/dist
saneea_mobile_react/build
saneea_mobile_react

saneea_mobile_flutter/.dart_tool
saneea_mobile_flutter/build
saneea_mobile_flutter/ios/Pods
saneea_mobile_flutter/android/.gradle
saneea_mobile_flutter
